.maindiv{
  
    border: 2px solid red;
    display: flex;
    height: auto;
    width: 80%;
   
    margin: auto;
    margin-top: 60px;
}
.seconddiv{
    border: 2px solid black;
    height: 90%;
    width: 47%;
    margin: auto;
    margin-top: 60px;
}
.tracker{
    font-size:18px;
    color: #5A6B7B;
    margin-right:350px;
    cursor: pointer;
   
}
.tracker:hover{
    color: #03A9F4;
}
.details{
    margin-top: -15px;
}
.report{
   margin-left: 190px; 
}
.featbtn{
    width: 23%;
  padding: 1%;
  background-color: #0288d1;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  border-color: #03a9f4;
  cursor: pointer;
  text-align: center;
  margin-left: 560px;
  margin-top: 30px;
}
.featbtn:hover{
    background-color: #0277bd;
    
}