.timetracker{
    font-size: 34px;
    line-height: 1.2;
    font-weight: normal;
    color: #3D4853;
    text-align: center;
    font-family: sans-serif;
}

.features_page__text_center{
    margin-top: 16px;
    text-align: center;
    color: #5a6b7b;
    margin-right: auto;
    margin-left: auto;
    max-width: 625px;
    font-size: 18px;
    line-height: 1.6;
    font-family: sans-serif;
}
.ttimg{
    /* border: 1px solid red; */
    margin: auto;
    height: 800px;
    width: 70%;
    margin-left: 230px;
    
}
.feattextbox{
    display: flex;
    /* border: 1px solid green; */
    margin: auto;
    width: 70%;
}
.feattextbox>div{
    /* border: 1px solid blue; */
  
  margin-right: -5px;
  
  
    margin: auto;
}
.feattextbox>div>h3{
    color:#3D4853;
    font-size: 22.4px;
    
    
    
    font-family: sans-serif;
}
.feattextbox>div>h4{
    text-align: center;
    color: #5a6b7b;
    font-size: 16px;
        font-family: sans-serif;
}
.firstdiv{
    margin-top: 90px;
    /* border: 2px solid blue; */
}